{% extends 'web/base_main.html'%}

{% block title%}jyonsi的个人博客网站{% endblock %}


{% block css%}
 {{super()}}
    <!-- 比较好用的代码着色插件 -->
    <link href="/static/web/css/prettify.css" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link href="/static/web/css/detail.css" rel="stylesheet" />
{% endblock%}



{% block content%}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="/home/" title="网站首页">网站首页</a>
                <a href="/articles/" title="文章专栏">文章专栏</a>
                <a><cite>{{art.title}}</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    <!-- 文章内容（使用Kingeditor富文本编辑器发表的） -->
                    <div class="article-detail shadow">
                        <div class="article-detail-title">
                            {{art.title}}
                        </div>
                        <div class="article-detail-info">
                            <span>编辑时间：{{art.create_time}}</span>
                            <span>作者：{{art.u.account}}</span>
                            <span>浏览量：{{art.views_count}}</span>
                        </div>
                        <div class="article-detail-content">
                            {{art.content | safe}}
                        </div>
                    </div>
                    <!-- 评论区域 -->
                    <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">
                            <legend>来说两句吧</legend>
                            <div class="layui-field-box">
                                <form class="layui-form blog-editor">
                                    <!--<input type="hidden" name="create_time" id="create_time">-->
                                    <div class="layui-form-item">
                                        <textarea name="editorContent" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
                                    </div>
                                    <div class="layui-form-item">
                                        <button class="layui-btn" lay-submit="formRemark" lay-filter="formRemark" type="submit">提交评论</button>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <div class="blog-module-title">最新评论</div>
                        <ul class="blog-comment">
                            {% for comment in art.comments %}
                            <li>
                                <div class="comment-parent">
                                    <img src="/static/web/images/commentter.jpg" alt="absolutely" />
                                    <div class="info">
                                        <span class="username">{{comment.owner}}</span>
                                        <span class="time">{{comment.create_time}}</span>
                                    </div>
                                    <div class="content">
                                        {{comment.content | safe}}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock%}


{% block foot%}
    {{super()}}
    <!-- 比较好用的代码着色插件 -->
    <script src="/static/web/js/prettify.js"></script>
    <!-- 本页脚本 -->
    <script src="/static/web/js/detail.js"></script>

{% endblock%}








