
{% extends '/back/base_main.html'%}
{% block title%}<title>后台注册</title>{% endblock %}

{% block css %}
{{super()}}
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
{% endblock %}

<script src="/static/back/js/jquery.js"></script>
{% block js%}
{{super()}}
<script src="/static/back/js/verificationNumbers.js"></script>
<script src="/static/back/js/Particleground.js"></script>
<script>
$(document).ready(function() {

  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });



});
</script>
{% endblock%}
{% block head%}

{% endblock%}

{% block nav%}

{% endblock%}


{% block content%}

<form action="/back/regist/" method="post" id="form">
 <dl class="admin_login">
  <dt>
   <strong>站点后台管注册</strong>
   <em>Management System</em>
  </dt>
  <p>{{msg}}</p>
  <dd class="user_icon">
   <input type="text" placeholder="账号" class="login_txtbx" name="account"/>
  </dd>
  <dd class="pwd_icon">
   <input type="password" placeholder="密码" class="login_txtbx" name="password01"/>
  </dd>
  <dd class="pwd_icon">
    <input type="password" placeholder="确认密码" class="login_txtbx" name="password02"/>
  </dd>
  <dd>
   <input type="submit" value="注册" class="submit_btn"/>
  </dd>
  <dd id ='lastdd'>
   <p>© 2015-2016 DeathGhost 版权所有</p>
   <p>陕B2-20080224-1</p>
  </dd>
 </dl>
</form>

{% endblock%}
