{% extends '/back/base_main.html'%}
{% block title%}<title>后台管理系统</title>{% endblock %}

{% block css%}
{{super()}}

{% endblock%}


{% block js%}
{{super()}}
{% endblock %}




{% block content%}
<section class="rt_wrap mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">分类详情</h2>
            <a class="fr top_rt_btn" href="/back/type_category/">返回分类分类列表</a>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type='hidden' name='csrfmiddlewaretoken' value='etyOfxyfqllVlf0tMSkvPkrzgjEdjgNSAYyZQgk8ujWGh7FWKTRMZqKthbnAIpGr' />
            <section>
                <ul class="ulColumn2">
                    <form action="/back/type_add/">
                    <li>
                        <span class="item_name" style="width:120px;">商品分类名称：</span>
                        <input type="text" name="type">
                    </li>

                    <li>
                        <span class="item_name" style="width:120px;"></span>
                        <input type="submit" class="link_btn"/>
                    </li>
                    </form>
                </ul>
            </section>
        </form>
    </div>
</section>


{% endblock%}











